{% extends 'game/base.html' %}

{% block content %}

<div class="container text-center" id="content">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="d-flex align-items-center justify-content-center">
        <h1>Servers</h1>
        <button class="btn btn-primary ms-2 ps-1 pe-1 pt-0 pb-1" onclick="reloadContent()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
            <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
          </svg>
        </button>
      </div>
      <div class="list-group">


      {% for game in games %}
        <a href="{% url 'serverjoin' game.creator.username %}" type="button" class="list-group-item list-group-item-action" aria-current="true">
          {{ game.creator.username }}
        </a>
        <!-- <a href="{% url 'serverjoin' game.creator.username %}">{{ game.creator.username }}</a> -->

      {% endfor %}
      <br><br><a href="{% url 'home' %}" class="btn btn-primary">Home</a><br>
      </div>
    </div>
  </div>
</div>

<script>
  function reloadContent() {
    $('#content').load(window.location.href + ' #content');
  }
</script>

{% endblock %}
