{% extends 'game/base.html' %}

{% block content %}
<div class="d-flex align-items-center justify-content-center">
    <h1>Wait for someone</h1>
    <div class="spinner-border ms-5" role="status" aria-hidden="true"></div>
</div>
<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col-7">
      <p class="fs-3 mt-5">The game will start when someone connects</p>
      <a href="{% url 'home' %}" class="btn btn-danger">Home</a>
    </div>
  </div>
</div>



<!-- <script>
  function pollForPlayerField() {
      var xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE) {
              if (xhr.status === 200) {
                  window.location.href = '/game';  // перенаправление на страницу "game"
              } else {
                  pollForPlayerField();  // повторный опрос, если поле еще не заполнено
              }
          }
      };
      xhr.open('GET', '/waiting/', true);
      xhr.send();
  }

  document.addEventListener('DOMContentLoaded', () => {
      pollForPlayerField();
  });
</script> -->
<script>
    function checkPlayerField() {
      $.ajax({
        url: '/waiting/',
        success: function(data) {
          if (data.filled) {
            // Поле заполнено, перенаправляем на страницу game
            window.location.href = '/game';
          } else {
            // Поле не заполнено, повторяем проверку через 1 секунду
            setTimeout(checkPlayerField, 1000);
          }
        }
      });
    }

    $(document).ready(function() {
      // Начинаем проверку при загрузке страницы
      checkPlayerField();
    });
  </script>

{% endblock %}
